@import "tailwindcss";

/* Estilos globales */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}